body {
    font-family: Arial;
    background: #f4f6f8;
}

.inspection-detail {
    width: 600px;
    margin: auto;
    margin-top: 40px;
}

.inspection-card {
    background: white;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    /* margin: 20px auto; */
}

.inspection-card p {
    margin: 10px 0;
    font-size: 16px;
}

.inspection-image {
    text-align: center;
    margin-top: 15px;
}

.inspection-image h3 {
    margin-bottom: 8px;
    color: #333;
    font-weight: 600;
    font-size: 18px;
    display: flex;
    justify-content: flex-start;
}

.inspection-image img {
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

/* Lightbox overlay */
.lightbox {
    display: none;
    /* 預設隱藏 */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease;
    opacity: 0;
}

.lightbox.show {
    display: flex;
    opacity: 1;
}

.lightbox-content {
    max-width: 90%;
    max-height: 90%;
    border-radius: 8px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    transform: scale(0.7);
    transition: transform 0.3s ease;
}

.lightbox.show .lightbox-content {
    transform: scale(3);
}

#lightbox-close {
    position: absolute;
    top: 20px;
    right: 30px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
}

.router {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.router a {
    display: inline-block;
    padding: 10px 15px;
    background-color: #4d91e9;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    transition: 0.2s;
}

.router a:hover {
    background-color: #3666a5;
}


/* 平板版 */
@media (max-width:1200px) {
    .inspection-detail {
        width: 90%;
    }

    footer {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

/* 手機版 */
@media (max-width:360px) {
    .inspection-detail {
        width: 80%;
    }

    .router {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .router a {
        width: 100%;
        text-align: center;
        padding: 12px;
        border-radius: 8px;
    }
}