.success-box {
    width: 700px;

    margin: 40px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

.links {
    margin-top: 20px;
}

footer {
    display: flex;
    flex: 1 0 auto;
    flex-shrink: 0;
    align-content: center;
    justify-content: center;
}

.footer_text {
    display: flex;
    margin: 0;
    /* padding-top: 20px; */
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

/* 平板版 */
@media (max-width:1200px) {
    .success-box {
        width: 90%;
    }


}

/* 手機版 */
@media (max-width:360px) {
    .success-box {
        width: 80%;
    }

    .links {
        display: flex;
        flex-direction: column;
    }

    .viewLink {
        margin-bottom: 10px;
    }
}